region               = "eu-central-1"
cluster_name         = "devops-lab"
vpc_cidr             = "10.0.0.0/16"
availability_zones   = ["eu-central-1a", "eu-central-1b"]
node_instance_type   = "t3.medium"
node_desired_size    = 2
node_min_size        = 1
node_max_size        = 4
db_username          = "dbadmin"
db_name              = "devopslab"
db_instance_class    = "db.t3.micro"
