name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies (app)
        working-directory: my-node-app
        run: npm ci

      - name: Run lint
        working-directory: my-node-app
        run: npm run lint || true

      - name: Run tests
        working-directory: my-node-app
        run: npm test || true

      - name: Build Docker image
        run: |
          docker build -t devops-lab-nodeapp:latest ./my-node-app
